{% if product.metafields.custom_fields["product_awards_image"] != blank %}
  <div class="custom-field custom-field__product-awards-image custom-field__type--url">
    <h3 class="custom-field--title">Product Awards image</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_awards_image"] }}
    </div>
  </div>
{% endif %}